body {
	background-color: #DCE0E5;
}

#main {
	background-color: #fff;
	padding-bottom: 40px;
}

h1 {
	font-family: "Comfortaa";
	text-align: center;
	font-size: 40px;
	margin: 30px 0;
}

ul {
	font-family: "Quicksand";
}

li {
	padding: 7px;
	margin: 0 10px;
	border-bottom: 1px solid #DCE0E5;
}

li:first-child {
	margin-top: 10px;
}

input[type = checkbox] {
	margin-right: 10px;
}

.btn-default {
	float: right;
}

.btn-link {
	float: right;
}

.striked {
	text-decoration: line-through;
}

.edit {
	display: none;
}
